<a href="https://colab.research.google.com/github/mlr8658/my-notebooks-2023/blob/main/Copy_of_IN_CLASS_CHEAT_SHEET_(Summer_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built In Functions

https://docs.python.org/3/library/functions.html

## Print Function

Printing a single item:

In [ ]:
print(10)

10

In [ ]:
x = 5

print(x)

5

Printing comma separated items:

In [ ]:
print(x, "hello", 8)

5 hello 8

Printing vs displaying the last thing in a code cell:

In [ ]:
1000

1000

In [ ]:
z = 10
#print(z)

z

10

## Input Function

Capturing user inputs:

In [ ]:
my_name = input("Please input your name: ")
print("NAME:", my_name)

Please input your name: MJR
NAME: MJR

# Variables

We use the single equals sign for variable assignment.

A variable's value can change over time (i.e. be overwritten / reset):

In [ ]:
x = 5

x = 100

print(x)

100

Whatever value is to the right of the equals sign will be assigned to the variable to the left of the equals sign.

We can reference the variable's previous value during our process of assigning a new value:

In [ ]:
x = 5
print(x)

x = 20
print(x)

x = x * 10
print(x)

# x = x + 10
x += 10
print(x)

5
20
200
210

Tangent about vertical column select (editor trick, not python):

In [ ]:
#x = 5
#print(x)
#
#x = 20
#print(x)
#
#x = x * 10
#print(x)
#
## x = x + 10
#x += 10
#print(x)

Variable naming conventions:

In [ ]:
# my thing = 5

thing = 5
weight_pounds = 5

# raInBow = 10 # DON'T

MY_CONSTANT = 10 # use sparingly for constants (values we don't expect to change)

# AVOID CAMELCASE THAT A JAVASCRIPT THING
# rainBow = 10 # avoid

# Pascal Case / title case for classes ONLY
# RainBow = 10

10

# Basic Datatypes

In [ ]:
type("Hello")

str

In [ ]:
x = "Hello"
type(x)

str

In [ ]:
print(type("Hello"))
print(type("100"))
print(type('Hello World'))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
print(type(100))
print(type(0.45))

<class 'int'>
<class 'float'>

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(type(None))

<class 'NoneType'>

In [ ]:
print(type({"a":1, "b":2, "c":3}))

<class 'dict'>

In [ ]:
print(type([1,2,3]))

<class 'list'>

## Numbers

In [ ]:
x = 6
print(x)

6

In [ ]:
print(200 + 5)

205

In [ ]:
speed_mph = 100
print(speed_mph)

100

In [ ]:
# variable names need underscores (no spaces)
# speed mph = 100

SyntaxError: ignored

## Strings

In [ ]:
message = "write anything with space"
print(message)

message = 'write anything with space'
print(message)

message = "don't do that"
print(message)

# message = 'don't do that' # DONT
#print(message)

write anything with space
write anything with space
don't do that

In [ ]:
message = """
Now whatever is inside

Is on multiple lines

"""

print(message)

Now whatever is inside

Is on multiple lines

Concatenation

In [ ]:
"HELLO" + "WORLD"

'HELLOWORLD'

In [ ]:
"HELLO " + "WORLD"

'HELLO WORLD'

In [ ]:
"HELLO" + " WORLD"

'HELLO WORLD'

In [ ]:
"HELLO" + " " + "WORLD"

'HELLO WORLD'

Why datatypes matter. We can perform the same operation, but it will do different things depending on which type of data we are working with:

In [ ]:
print(2 + 2)

print("2" + "2")

# print(2 + "2") #> TypeError: unsupported operand type(s) for +: 'int' and 'str'

4
22

Format strings:

In [ ]:
print("HELLO" + " " + "WORLD")
print("HELLO", "WORLD")

# format string:
x = "WORLD"
print(f"HELLO {x}")

price = 4.5
print(f"THE PRICE IS: ${price}")
print("THE PRICE IS: $" + str(price) )

HELLO WORLD
HELLO WORLD
HELLO WORLD
THE PRICE IS: $4.5
THE PRICE IS: $4.5

String case manipulation:

In [ ]:
# to upper case:

print("heLLo".upper())

# to lower case:
print("heLLo".lower())

# to title case:

x = "HelLo"
x = x.lower()
print(x)

HELLO
hello
hello

Strings are somewhat list-like, so we can convert them to lists of their characters, and perform operations such as list slicing (revisit after covering lists):

In [ ]:
# "HELLO"[0:3]

In [ ]:
# list("HELLO")

## Booleans

In [ ]:
print(True)

print(False)

True
False

# Logical Operators

https://www.w3schools.com/python/python_operators.asp

Equality checking:

In [ ]:
print(4 == 5)
print(4 != 5)

False
True

In [ ]:
True == False

False

In [ ]:
2 + 2 == 4

True

Arithmetic comparisons:

In [ ]:
print(4 > 5)
print(4 >= 5)
print(4 < 5)
print(4 <= 5)

False
False
True
True

Inclusion checking (checking if substring in larger string, checking if item included in a list):

In [ ]:
message = "HELLO"

print("HEL" in message)
print("h" in message)
print("HEL" not in message)

True
False
False

In [ ]:
selection = "rock"
valid_options = ["rock", "paper", "scissors"]
selection in valid_options

True

Compound expressions:

In [ ]:
print(True and True)
print(True and False)
print(False and True)

True
False
False

In [ ]:
print(True or False)
print(False or True)
print(False or False)

True
True
False

In [ ]:
x = 5

print(x < 10 and x > 8)
print(x < 10 or x > 8)

False
True

# Conditional Logic

In [ ]:
# if __________:
#     ________________

In [ ]:
# if __________:
#     ________________
# else:
#     ______________

In [ ]:
if False:
    print("YEP")
else:
    print("NOPE")

print("BOTTOM")

NOPE
BOTTOM

In [ ]:
x = 5

if x > 1:
    print("YEP")

print("BOTTOM")

YEP
BOTTOM

In [ ]:
x = 5

if x > 10:
    print("YEP")

print("BOTTOM")

BOTTOM

In [ ]:
x = 5

if x > 10:
    print("YEP")
else:
    print("NOPE")

print("BOTTOM")

NOPE
BOTTOM

In [ ]:
x = 5

if x > 10:
    print("YEP")
    print("-----------")
    print("YEAH")
else:
    print("NOPE")
    print("..........")
    print("NO")

print("BOTTOM")

NOPE
..........
NO
BOTTOM

In [ ]:
x = 5

if x > 10:
    print("GREATER THAN TEN")
elif x > 2:
    print("GREATER THAN TWO")
else:
    print("NOPE")

print("BOTTOM")

GREATER THAN TWO
BOTTOM

In [ ]:
x = 5

if x > 10:
    print("GREATER THAN TEN")
elif x > 1:
    print("GREATER THAN ONE")
elif x > 2:
    print("GREATER THAN TWO")
else:
    print("NOPE")

print("BOTTOM")

GREATER THAN ONE
BOTTOM

Using compound expressions:

# Python Modules

https://docs.python.org/3/library/

## The `random` Module

https://docs.python.org/3/library/random.html

In [ ]:
import random

# generate a random number
x = random.random()
print(x)

0.0262227638044501

In [ ]:
flavors = ["vanilla bean", "chocolate", "strawberry"]

# how can we print one of these at random?

random.choice(flavors)

'chocolate'

## The `statistics` Module

https://docs.python.org/3/library/statistics.html

In [ ]:
import statistics

statistics.mean([1, 2, 3, 4, 4])

2.8

In [ ]:
from statistics import mean #, median, mode

print(mean([1, 2, 3, 4, 4]))

print(mean([1, 2, 3, 4, 4]))

#mean = mean([1, 2, 3, 4, 4])
#print(mean)

#my_func = mean
#my_func([1,3,5])

2.8
2.8

In [ ]:
prices = [100, 150, 200, 500]

Aliasing:

In [ ]:
import statistics as st

st.mean([1, 2, 3, 4, 4])

#aliasing the module

2.8

In [ ]:
from statistics import mean as st_mean

st_mean([1, 2, 3, 4, 4])

#aliasing the function

2.8

# Custom Functions

In [3]:
# DEFINITION

def enlarge(n):      #define some function with parameters, colin
    print("inside the scope of the function")   #indent, then
    #print(n)         #these things are printed inside the function until its called later (next cell)

    return n * 100  #return statement gives us a value back to refer to later

In [4]:
# INVOCATION / CALL

result = enlarge(4)
print(result)
#you must run the first cell above in order to get the function defined in the notebooks memory

inside the scope of the function
400

UNIT TESTS:

In [5]:
assert 2+2 == 4

#assert 2+2 == 5

AssertionError: ignored

In [6]:
assert enlarge(5) == 500

inside the scope of the function

In [8]:
result = enlarge(5) #will only run the function if the assertion is correct
assert result == 500 #can test if the enlarge function we made actually works

inside the scope of the function

# Container Datatypes

## List

In [12]:
flavors = ["vanilla bean", "chocolate", "strawberry"]
print(type(flavors)) #sometimes when you have errors, it doesn't hurt to check the data type
print(flavors)

<class 'list'>
['vanilla bean', 'chocolate', 'strawberry']

In [15]:
len (flavors)    #len function tells you the length of something
                 #ie how many flavors

5

In [ ]:
len ("HELLO") #how many letters

Counting items in a list:

Access any item in a list by its numeric position.

List index starts at 0.

In [19]:
print(flavors)
print(flavors [0]) #starts at 0
print(flavors [1]) #you can print the item in the list with its index # place
print(flavors [-1]) #you can use -1 to get the last item in the index

['vanilla bean', 'chocolate', 'strawberry']
vanilla bean
chocolate
strawberry

In [20]:
#list slicing (cutting the deck and taking the first chunk or the last chunk or a middle)

print(flavors[0:2]) #0:2 means start there at item in index position 0 and give us 2 items

['vanilla bean', 'chocolate']

In [10]:
#print(flavors[5]) #> IndexError: list index out of range

Add an item to the end of a list:

In [22]:
flavors = ["vanilla bean", "chocolate", "strawberry"]
print(flavors)

flavors.append("mocha") #MUTATING (change underlying variable in place)

print(flavors)

['vanilla bean', 'chocolate', 'strawberry']
['vanilla bean', 'chocolate', 'strawberry', 'mocha']

Conditionally add an item to the list (only if it doesn't already exist in the list):

In [24]:
flavors = ["vanilla bean", "chocolate", "strawberry"]
print(flavors)

x = "mocha"
if x not in flavors:
    print("LETS ADD IT")
    flavors.append(x) #MUTATING (change underlying variable in place)

print(flavors)

['vanilla bean', 'chocolate', 'strawberry']
LETS ADD IT
['vanilla bean', 'chocolate', 'strawberry', 'mocha']

Add multiple items to a list (joining lists):

In [25]:
flavors = ["vanilla bean", "chocolate", "strawberry"]

flavors += ["mocha", "mint"] # += just means itself plus whatever you add next
print(flavors)

['vanilla bean', 'chocolate', 'strawberry', 'mocha', 'mint']

Removing items from a list:

In [11]:
letters = ["a", "b", "c"]
print(letters)

del letters[0] # MUTATING

print(letters)

['a', 'b', 'c']
['b', 'c']

## Dictionary

In [26]:
person = {
    "first_name": "Ophelia",
    "last_name": "Clarke",
    "message": "Hi, thanks for the ice cream!",
    "fav_flavors": ["Vanilla Bean", "Mocha", "Strawberry"]
}

#you can separate your dictionary into as many lines as you need to visually make it make sense

print(type(person))
print(person)

<class 'dict'>
{'first_name': 'Ophelia', 'last_name': 'Clarke', 'message': 'Hi, thanks for the ice cream!', 'fav_flavors': ['Vanilla Bean', 'Mocha', 'Strawberry']}

What keys are in this dictionary?

In [27]:
person.keys()

dict_keys(['first_name', 'last_name', 'message', 'fav_flavors'])

What are the values in this dictionary?

In [28]:
person.values()

dict_values(['Ophelia', 'Clarke', 'Hi, thanks for the ice cream!', ['Vanilla Bean', 'Mocha', 'Strawberry']])

What are the pairs in this dictionary:

In [29]:
person.items()
#outputs the items in a tupol ??? (spelling) in a list like way

dict_items([('first_name', 'Ophelia'), ('last_name', 'Clarke'), ('message', 'Hi, thanks for the ice cream!'), ('fav_flavors', ['Vanilla Bean', 'Mocha', 'Strawberry'])])

Accessing items in a dictionary, by the key name / attribute name:

In [30]:
person["first_name"]

'Ophelia'

In [31]:
person['last_name']

'Clarke'

In [32]:
person['message']

'Hi, thanks for the ice cream!'

In [34]:
#person["OOPS"] #> KeyError: 'OOPS' that says that key doesnt exist

How can we access some value that's nested deeply inside this structure? For example this person's second favorite flavor?

In [44]:
person["fav_flavors"][1] #chained accessors

# or print(person["fav_flavors"][1])

'Mocha'

In [42]:
#another method different than above is to take it one step at a time
favs = person["fav_flavors"]
print(favs)
print(type(favs))

['Vanilla Bean', 'Mocha', 'Strawberry']
<class 'list'>

In [43]:
favs[1]

'Mocha'

# List Operations

In [ ]:
flavors = ["vanilla bean", "chocolate", "strawberry"]

print(flavors)
#print(flavors[0])
#print(flavors[1])
#print(flavors[2])

In [ ]:
#for _______ in ________ :
#...______________

## Looping

In [47]:
for item in flavors:
    print(item)
         #will continue to loop until its done with the list

vanilla bean
chocolate
strawberry
mocha
mint

Loop through a list and access each item one at a time:

In [46]:
for item in flavors:
    print("--------------")
    print(item)
    print("MORE STUFF")
    # NOTHING ELSE
print("BOTTOM")

--------------
vanilla bean
MORE STUFF
--------------
chocolate
MORE STUFF
--------------
strawberry
MORE STUFF
--------------
mocha
MORE STUFF
--------------
mint
MORE STUFF
BOTTOM

## Sorting

https://docs.python.org/3/library/functions.html#sorted


Sorting simple lists, like list of strings or numbers:

In [48]:
nums = [5, 100, 87, 45]
print(nums)

sorted(nums)    #python knows how to sort numbers in numberical numbers

[5, 100, 87, 45]

[5, 45, 87, 100]

In [49]:
letters = ["a", "z", "g", "p", "j"]
print(letters)

sorted(letters) #python also knows how to sort letters in alphabetical order

['a', 'z', 'g', 'p', 'j']

['a', 'g', 'j', 'p', 'z']

In [50]:
letters = ["a", "z", "g", "p", "j"]
print(letters)

print(sorted(letters)) # NOT MUTATING

print(letters)

# storing the sorted list in another variable (or overwriting the original variable),
# ... for later reference:
sorted_letters = sorted(letters)
print(sorted_letters)

['a', 'z', 'g', 'p', 'j']
['a', 'g', 'j', 'p', 'z']
['a', 'z', 'g', 'p', 'j']
['a', 'g', 'j', 'p', 'z']

Sorting in descending order (using the `reverse` parameter):

In [52]:
nums = [5, 100, 87, 45]

sorted(nums, reverse=True)

[100, 87, 45, 5]

Sorting more complex lists (like a list of dict), using the `key` parameter, in conjunction with a custom function or the `operator.itemgetter` function to specify how the list should be sorted:

In [53]:
teams = [
    {"city": "New York", "name": "Yankees"},
    {"city": "New York", "name": "Mets"},
    {"city": "Boston", "name": "Red Sox"},
    {"city": "New Haven", "name": "Ravens"}
]
print(type(teams))
print(teams)

<class 'list'>
[{'city': 'New York', 'name': 'Yankees'}, {'city': 'New York', 'name': 'Mets'}, {'city': 'Boston', 'name': 'Red Sox'}, {'city': 'New Haven', 'name': 'Ravens'}]

In [ ]:
# sorted(teams) #> TypeError: '<' not supported between instances of 'dict' and 'dict'

https://docs.python.org/3/library/operator.html#operator.itemgetter

In [54]:
from operator import itemgetter #same as us defining our own custom function

sorted(teams, key=itemgetter("city"))

[{'city': 'Boston', 'name': 'Red Sox'},
 {'city': 'New Haven', 'name': 'Ravens'},
 {'city': 'New York', 'name': 'Yankees'},
 {'city': 'New York', 'name': 'Mets'}]

In [55]:
#this is what the item getter function is doing
def team_city(team):
    return teams("city")

In [ ]:
from operator import itemgetter

sorted(teams, key=itemgetter("city"), reverse=True)

In [ ]:
from operator import itemgetter

sorted(teams, key=itemgetter("name"))

In [ ]:
from operator import itemgetter

# sort by city then name ASC

def custom_sort(item):
    return item["city"] + "-" + item["name"]

sorted(teams, key=custom_sort)

## Mapping / Tranformation

Transform each and every item in the list, to a new "mapped" version of itself.

In [67]:
nums = [5, 100, 87, 45]
print(nums)
print('---------')

# transform each number, multipling it by 100
# save the transformed value for later
# sum of all transformed numbers

big_nums = [] #create an empty list so we can save the list we make

for n in nums:
    #print(n)
    #print(n*100)
    big_nums.append(n*100)

print(big_nums)
sum(big_nums)

[5, 100, 87, 45]
---------
[500, 10000, 8700, 4500]

## Filtering

Select a subset of the items, only ones that match some logical condition.

In [69]:
nums = [5, 100, 87, 45]

matching_nums = []

for n in nums:
   # matching_nums.append(n) this alone will give you the entire list
   # what if we only want the numbers greater than 20?

   if n > 20:
    matching_nums.append(n)

print(matching_nums)

[100, 87, 45]

## List Comprehensions

In [70]:
# list comprehension for mapping:

nums = [5, 100, 87, 45]

#what we did earlier
#big_nums = [] #create an empty list so we can save the list we make
#
#for n in nums:
    #print(n)
    #print(n*100)
#    big_nums.append(n*100)


#big_nums = [___ for ___ in____]      now were doing this in one line
big_nums = [n * 100 for n in nums]

print(big_nums)

[500, 10000, 8700, 4500]

In [ ]:
# list comprehension for filtering:

nums = [5, 100, 87, 45]

#matching_nums = []
#
#for n in nums:
#    #matching_nums.append(n)
#    if n > 20:
#        matching_nums.append(n)

#matching_nums = [____ for ____ in _______ if _______]
matching_nums = [n for n in nums if n > 20]
print(matching_nums)

In [ ]:
#list comprehension for mapping and filtering
nums = [5, 100, 87, 45]

matching_nums = [n*100 for n in nums if n > 20]
print(matching_nums)